.filterSection_filters{
    padding: 2px;
}
input{
    margin: 3px;
}
.filterSection_range{
    width: 80%;
    height: 20px;
}
.filterSection_range_value{
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    border: 3px solid#39352c;
    padding: 5px 10px;
    margin-left: 8px;
    font-weight: 700;
}