.sidebar {
  background: #39352c;
  width: 20%;
  min-width: 255px;
  flex: 2 1 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 4px;
  color: #f0efed;
}

.sidebar_annotation {
  font-size: 13px;
  line-height: 1.2;
}

a:link {
  color: #c38b1a;
}

a:visited {
  color: #e3a935;
}

a:hover {
  color: #edc678;
}

/* Sidebar section styles such as filtersection and species section */
.sidebar_section {
  overflow-y: scroll;
  background-color: #a9966b;
  color: #050304;
  scrollbar-color: #39352c #a9966b;
  min-height: 45px;
  border-bottom: 2px solid #39352c;
}

.sidebar_section_button {
  display: block;
  background-color: #c38b1a;
  padding: 2px;
  border: none;
  border-bottom: 2px solid #39352c;
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  min-height: 40px;
}

.sidebar_section::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.sidebar_section::-webkit-scrollbar-thumb {
  background: #39352c;
  border-radius: 5px;
  border: 2px solid #a9966b;
}

.sidebar_section::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar_section_body_expanded {
  display: block;
}

.sidebar_section_body_collapsed {
  display: none;
}

@media screen and (max-width: 890px) {
  .sidebar {
    width: 100%;
  }
}