.speciesSection{
    overflow: scroll;
    background-color: #333333;
}
.speciesSection h2{
    background-color: #cc7a00;
    padding: 2px;
}
@media screen and (max-width: 890px) {
    .speciesSection_cards{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
  }