div.speciesCard{
    border-bottom: 1px solid #e6e6e6 ;
    color: #e6e6e6;
    padding: 4px;
}
.speciesCard p{
    font-style: italic;
}
.speciesCard_main{
    display: flex;
}
.speciesCard_title{
    width: 80%;
}
.speciesCard_buttons{
    width: 20%;
}
.speciesCard_buttons button{
    background-color: transparent;
    color: #e6e6e6;
    border: none;
    font-size: 20px;
}
.speciesCard_details_visible{
    display: block;
}
.speciesCard_details_hidden{
    display: none;
}