.speciesCard{
    border-bottom: 1px solid #e6e6e6 ;
    color: #e6e6e6;
    padding: 4px;
}
.speciesCard p{
    font-style: italic;
}
.speciesCard_main{
    display: flex;
}
.speciesCard_title{
    width: 80%;
}
.speciesCard_buttons{
    width: 20%;
}
.speciesCard_buttons button{
    background-color: transparent;
    color: #e6e6e6;
    border: none;
    font-size: 22px;
}
.speciesCard_details_visible{
    display: block;
}
.speciesCard_details_hidden{
    display: none;
}
.speciesCard_yellow_annotation{
    color: #ffbedb;
}
.speciesCard_green_annotation{
    color: #99ff99;
}
@media screen and (max-width: 890px){
    .speciesCard{
        min-width: 140px;
        border-right: 1px solid #e6e6e6 ;
        border-bottom: none;
    }
    .speciesCard_main{
        flex-wrap: wrap;
    }
    .speciesCard_hide_mobile{
        display: none;
    }
}