.speciesSection{
    overflow: scroll;
    background-color: #5B402D;
    color: #050304;
}
.speciesSection h2{
    background-color: #FF8D35;
    padding: 2px;
    border-bottom: 2px solid #FFCF94;
}
@media screen and (max-width: 890px) {
    .speciesSection_cards{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
  }