.speciesSection{
    overflow-y: scroll;
    background-color: #a9966b;
    color: #050304;
    scrollbar-color: #39352c #a9966b;
}
.speciesSection::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
.speciesSection::-webkit-scrollbar-thumb{
    background:#39352c;
    border-radius: 5px;
    border: 2px solid #a9966b;
}
.speciesSection::-webkit-scrollbar-track{
    background: transparent;
}
.speciesSection_header{
    border-bottom: 1px solid #050304;
}
.speciesSection_header div{
    display: flex;
}
.speciesSection_header button{
    background-color: #39352c;
    color: #f0efed;
    border: none;
    padding: 2%;
    margin: 1%;
    border-radius: 5px;
}
.speciesSection h2{
    background-color: #c38b1a;
    padding: 2px;
    border-bottom: 2px solid #050304;
}
@media screen and (max-width: 890px) {
    .speciesSection_cards{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-color: #39352c #a9966b;
    }
    .speciesSection_cards::-webkit-scrollbar{
        width: 12px;
        height: 12px;
    }
    .speciesSection_cards::-webkit-scrollbar-thumb{
        background:#39352c;
        border-radius: 5px;
        border: 2px solid #a9966b;
    }
    .speciesSection_cards::-webkit-scrollbar-track{
        background: #a9966b;
    }
  }